@use '../core/color' as *;

.app_admin_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;

  .app_admin_cover_wrapper {
    width: calc(100% - 500px);
    margin-left: 250px;
    min-height: calc(100vh - 30px);
    background: $white;
    margin-top: 15px;
    border-radius: 14px;
    box-shadow: 0 1px 5px 0 rgb(0 0 0 / 0.1), 0 1px 3px -1px rgb(0 0 0 / 0.1);

    .app_page_inside_cover {
      width: 100%;
      display: flex;
      flex-direction: column;

      .app_inside_top_area {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px 20px;
        border-bottom: 1px solid $gray-100;

        .app_top_page_cover {
          width: 33.3%;
          display: flex;
        }

        .app_notify_top_area {
          width: 33.3%;
          display: flex;
          padding-right: 20px;
          align-items: center;
          justify-content: flex-end;
        }
      }
    }
  }
}

.app_top_page_information {
  width: 100%;
  display: flex;
  height: 46px;
  align-items: center;
  padding: 0px;

  .app_top_breadcumb {
    display: flex;
    gap: 6px;

    &>span {
      color: $gray-50;
    }

    &>a {
      display: flex;
      font-size: 13px;
      font-weight: 500;
      align-items: center;
      color: $gray-50;
      transition: 0.5s;

      &>svg {
        width: 14px;
        height: 14px;
        margin-right: 5px;

        &>path {
          stroke: $gray-50;
          transition: 0.5s;
        }
      }

      &:last-child {
        color: $blue-30;
        transition: 0.5s;

        &>svg>path {
          stroke: $blue-30;
          transition: 0.5s;
        }
      }
    }
  }
}

.app_main_popup {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);

  &>span {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;

    &>svg>path {
      stroke: $white;
    }
  }

  .app_pop_inside {
    width: 900px;
    border-radius: 8px;
    background: $white;
    padding: 40px 50px;

    h3 {
      text-align: center;
      font-size: 19px;
      font-weight: 600;
      color: $blue-30;
    }

    p {
      text-align: center;
      font-size: 15px;
      font-weight: 500;
      color: $gray-50;
    }

    .app_pop_select_section {
      display: flex;
      width: 100%;
      margin-top: 40px;

      &>ul {
        width: 100%;
        display: flex;
        gap: 20px;

        &>li {
          position: relative;
          border-radius: 8px;
          display: flex;
          padding: 16px 18px;
          flex-direction: column;
          border: 1px solid #eeeeee;
          transition: 0.5s;
          cursor: pointer;
          align-items: center;

          &:hover {
            background: #eeeeee;
            transition: 0.5s;
            border: 1px solid $gray-60;
          }

          &>img {
            width: 86%;
            margin-bottom: 14px;
          }

          h5 {
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            color: $blue-20;
            display: flex;
            flex-direction: column;

            &>span {
              width: 100%;
              margin-top: 10px;
              font-size: 12px;
              color: $gray-50;
              font-weight: 500;
            }
          }

          &.activeType {
            border: 1px solid $green-20;

            &>span {
              position: absolute;
              top: -14px;
              right: -14px;
              width: 28px;
              height: 28px;
              padding: 5px;
              border-radius: 50%;
              background: $green-30;

              &>svg>path {
                stroke: $white;
              }
            }
          }
        }
      }
    }
  }
}