@use '../core/color' as *;

.app_form_area_wrapper {
  width: 100%;
  padding: 0 20%;

  .app_cover_onboard_form {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;

    h1 {
      font-size: 20px;
      font-weight: 500;
      width: 100%;
      color: $blue-20;
      text-align: center;
      margin-bottom: 40px;
    }

    form {
      width: 100%;
      display: flex;
      flex-direction: column;

      .app_form_btn_info {
        width: 100%;
        display: flex;
        justify-content: flex-start;

        &>button {
          display: flex;
          justify-content: center;
          align-items: center;
          width: auto;
          height: 38px;
          background: $blue-30;
          border: 0px solid transparent;
          cursor: pointer;
          padding: 0 20px;
          font-size: 14px;
          border-radius: 6px;
          color: $white;
          margin-left: 117px;
        }
      }

      .app_field_row {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 40px;
        padding-bottom: 30px;
        border-bottom: 1px solid $gray-100;

        h2 {
          font-size: 15px;
          font-weight: 500;
          width: 100px;
          text-align: right;
          margin-top: 7px;
        }

        .app_form_right {
          width: calc(100% - 100px);
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          &>button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 34px;
            background: $gray-90;
            border: 0px solid transparent;
            cursor: pointer;
            padding: 0 14px;
            font-size: 12px;
            border-radius: 6px;
            color: $black;

            &>svg {
              width: 18px;
              height: 18px;

              &>path {
                color: $red-40;
              }
            }
          }

          .app_field {
            width: 32.2%;

            input {
              width: 100%;
              height: 36px;
              border-radius: 6px;
              font-weight: 500;
              font-size: 13px;
              color: $black-100;
              padding: 0 14px;
              border: 1px solid $gray-80;
            }

            textarea {
              width: 100%;
              height: 80px;
              border-radius: 6px;
              font-weight: 500;
              font-size: 13px;
              color: $black-100;
              padding: 10px 14px;
              border: 1px solid $gray-80;
            }

            select {
              width: 100%;
              height: 36px;
              border-radius: 6px;
              font-weight: 500;
              font-size: 13px;
              color: $black-100;
              padding: 0 14px;
              border: 1px solid $gray-80;
            }
          }

          .app_extra_row {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .app_field {
              width: 21.85%;
            }

            .app_field_btn {
              width: 34px;

              button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;
                height: 36px;
                border: 0px solid transparent;
                cursor: pointer;

                &>svg {
                  width: 18px;
                  height: 18px;

                  &>path {
                    color: $red-40;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}